.myFooter {
  background-color: #546e7a;
  color: #ffffff;
  min-height: 80px;
  font-size: 20px;
  font-weight: bold;
}

.myFooter div {
  padding: 5px;
}

.space {
  margin-right: 5px;
}

.myFooter a {
  color: #ffffff;
  text-decoration: none;
}
