.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url("./Images/header.jpeg");
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-header h1 {
  padding-top: 70px;
} */

.myFooter {
  background-color: #000;
  color: #fff;
  min-height: 50px;
}

.myFooter a {
  color: #ffffff;
  text-decoration: none;
}

.countries {
  color: #84ade9;
}

.modalText {
  text-align: justify;
}
